* {
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
}

.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

table.centered {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 100%;
	background-color: #1f1b1c;
	text-align: center;
}

.inside {
	width: 980px;
	margin: 0 auto;
	overflow: hidden
}

.vlinks {
	position: relative;
	padding-top: 20px;
	text-align: center;
}

#menu {
	background-image: url('/media/images/menu_bg.gif');
	background-position: top left;
	background-repeat: repeat-x;
	width: 100%;
	float: left;
	height: 40px;
}

#menu ul {
	width: 980px;
	margin: 0 auto;
	padding: 0 0 0 25px;
}

#menu li {
	list-style-type: none;
	display: inline;
}

.pic {
	margin: 0 auto; /
	margin: -4px auto;
}

#blocks {
	background-image: url('/media/images/bg.gif');
	background-position: top left;
	background-repeat: repeat-x;
	height: 176px;
	padding: 27px 0 0 77px
}

.blocklink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1
}
.rblock, .lblock, .mblock, .dablock, .pablock, .dblock {
	background-position: top left;
	background-repeat: no-repeat;
	width: 165px;
	height: 118px;
	float: left;
	padding: 30px 0 0 130px;
	position: relative;
}

.rblock {
	background-image: url('/media/images/block1.jpg');
}

.lblock {
	background-image: url('/media/images/block2.jpg');
}

.mblock {
	background-image: url('/media/images/block3.jpg');
}
.dablock {
	background-image: url('/media/images/block4.jpg');
}

.pablock {
	background-image: url('/media/images/block5.jpg');
}

.dblock {
	background-image: url('/media/images/block6.jpg');
}

#blocks h3 {
	font-family: Tahoma;
	font-size: 25px;
	color: #505542;
	display: block;
	width: 160px;
	padding: 29px 0 0 0
}

#blocks span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #698224;
	display: block;
	padding: 11px 0 12px 0
}

#main {
	background-color: #F6F1F0;
	padding: 47px 0 50px 0;
	border-bottom: 1px solid #fff;
}

#footer {
	background-color: #E4DEDA;
	width: 100%;
	height: 105px;
	font-family: Tahoma;
	font-size: 11px;
	color: #64584C;
	text-transform: uppercase;
	text-align: right
}
