{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<div id="blocks">
		<div class="inside">
			<div class="rblock">
				<a href='register/'><span class="blocklink"></span></a>
				<h3>Register</h3>
			</div>
			<div class="lblock">
				<a href='login'><span class="blocklink"></span></a>
				<h3>Login</h3>
			</div>
			<div class="mblock">
				<a href='more/'><span class="blocklink"></span></a>
				<h3>Learn More</h3>
			</div>
		</div>
	</div>
{% endblock %}
