{% extends "base.html" %}
{% block title %}More Info{% endblock %}
{% block content %}
		<div class="inside">
			<div class="dablock">
				<a href='#'><span class="blocklink"></span></a>
				<h3>Doctor App</h3>
			</div>
			<div class="pablock">
				<a href='#'><span class="blocklink"></span></a>
				<h3>Patient App</h3>
			</div>
			<div class="dblock">
				<a href='#'><span class="blocklink"></span></a>
				<h3>Device</h3>
			</div>
		</div>
	</div>
	<font size="5">MEDIC is a medical multi tool consisting of instruments commonly used by doctors, such as the stethoscope and thermometer. It interfaces with smart phones to enable sharing of patients' vitals over long distances. This allows anyone to access medical expertise when they are unable to reach such expertise due to location or situation.</font>
	<font size="5">It is run on the Android platform.</font>
{% endblock %}
