<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<title>MEDIC: Registered</title>
</head>
<body>
	
	<div id="header">
		<div id="menu">
			<ul>
				<li><a href="#"><img src="/media/images/but1.gif" alt=""
						width="148" height="40" /></a></li>
				<li><a href="#"><img src="/media/images/but2.gif" alt=""
						width="146" height="40" /></a></li>
				<li><a href="#"><img src="/media/images/but3.gif" alt=""
						width="146" height="40" /></a></li>
				<li><a href="#"><img src="/media/images/but4.gif" alt=""
						width="146" height="40" /></a></li>
				<li><a href="#"><img src="/media/images/but5.gif" alt=""
						width="146" height="40" /></a></li>
				<li><a href="#"><img src="/media/images/but6.gif" alt=""
						width="147" height="39" /></a></li>
			</ul>
		</div>
		<img src="/media/images/picture.jpg" alt="" width="980" height="333"
			class="pic" />
	</div>

	<div id="text">
		<br /><font size="6"><b><center> You succeeded in creating a new account.</font></b></center>
		<font size="7"><b><center><a href="/login/">Now, go login!</font></b></center></a>
	</div>

	<div id="footer">
		<div class="inside">
			<div class="vlinks">
				&copy; 2012. Bri Mussman. Shreyas Chand.
			</div>
		</div>
	</div>

</body>
</html>
